name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push'
    runs-on: ubuntu-latest

    steps:
      - name: 리포지토리에서 코드 가져오기
        uses: actions/checkout@v4

      - name: SSH key 파일 생성
        run: |
          mkdir -p ~/.ssh
          
          if [ "${GITHUB_REF_NAME}" = "develop" ]; then
          echo "${{ secrets.EC2_SSH_KEY_DEV }}" > ~/.ssh/deploy_key.pem
          echo "TARGET_HOST=${{ secrets.DEV_HOST }}" >> $GITHUB_ENV
          echo "IMAGE_TAG=develop" >> $GITHUB_ENV
          else
          echo "${{ secrets.EC2_SSH_KEY_PROD }}" > ~/.ssh/deploy_key.pem
          echo "TARGET_HOST=${{ secrets.PROD_HOST }}" >> $GITHUB_ENV
          echo "IMAGE_TAG=main" >> $GITHUB_ENV
          fi
          
          chmod 600 ~/.ssh/deploy_key.pem

      - name: deploy 디렉토리 준비
        env:
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
          DEPLOY_PATH="${DEPLOY_PATH:-/home/ubuntu/deploy}"
          ssh -i ~/.ssh/deploy_key.pem -o StrictHostKeyChecking=no ubuntu@${TARGET_HOST} "mkdir -p ${DEPLOY_PATH}"

      - name: .env 파일 생성
        run: |
          if [ "${GITHUB_REF_NAME}" = "develop" ]; then
            printf "%s" "${{ secrets.ENV_DEV }}" > .env
          else
            printf "%s" "${{ secrets.ENV_PROD }}" > .env
          fi

      - name: .env 업로드
        env:
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |

          scp -i ~/.ssh/deploy_key.pem -o StrictHostKeyChecking=no \
            .env \
            ubuntu@${TARGET_HOST}:${DEPLOY_PATH}/.env

          ssh -i ~/.ssh/deploy_key.pem -o StrictHostKeyChecking=no \
            ubuntu@${TARGET_HOST} \
            "chmod 600 ${DEPLOY_PATH}/.env"

      - name: docker-compose.yml 업로드
        env:
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
          DEPLOY_PATH="${DEPLOY_PATH:-/home/ubuntu/deploy}"
          
          scp -i ~/.ssh/deploy_key.pem -o StrictHostKeyChecking=no \
          docker-compose.yml \
          ubuntu@${TARGET_HOST}:${DEPLOY_PATH}/docker-compose.yml

      - name: 배포 및 실행
        env:
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: |
          DEPLOY_PATH="${DEPLOY_PATH:-/home/ubuntu/deploy}"

          ssh -i ~/.ssh/deploy_key.pem -o StrictHostKeyChecking=no ubuntu@${TARGET_HOST} "\
            set -e; \
            cd ${DEPLOY_PATH}; \
            docker pull ghcr.io/team-triple/backend:${IMAGE_TAG}; \
            IMAGE_TAG=${IMAGE_TAG} docker compose up -d; \
            docker image prune -f \
          "